Update the text to amend MPLS with MPLS(-TP) wherever applicable

13. Minor changes to the text following section 1.3.2 of RFC 5921 (MPLS --> MPLS(-TP))
Author's,

Following section 1.3.2 of RFC 5921 I suggest this minor change to
draft-zheng-ccamp-yang-otn-slicing

OLD

4.2.1.  NBI YANG Model Overview

    The YANG model for OTN-SC NBI is OTN-technology specific, but shares
    many common constructs and attributes with generic network slicing
    YANG models.  Furthermore, the OTN-SC NBI YANG is expected to support
    both connectivity-based and resource-based slice configuration, which
    is likely a common requirement for supporting slicing at other
    transport network layers, e.g.  **WDM or MPLS-TP.**

NEW


4.2.1.  NBI YANG Model Overview

    The YANG model for OTN-SC NBI is OTN-technology specific, but shares
    many common constructs and attributes with generic network slicing
    YANG models.  Furthermore, the OTN-SC NBI YANG is expected to support
    both connectivity-based and resource-based slice configuration, which
    is likely a common requirement for supporting slicing at other
    transport network layers, e.g.  **WDM or MPLS(-TP).**

END

Updates included in [draft-ietf-ccamp-yang-otn-slicing-01](https://datatracker.ietf.org/doc/html/draft-ietf-ccamp-yang-otn-slicing-01)